// 全局定义
@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
@mixin scrollBar {
    &::-webkit-scrollbar {
        width: 11px;
        height: 10px; 
    }

    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    } 

    &::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 1.5px; 
    }
} 

@mixin bottomArrow {
    position: relative;
    &::after{
        content: '';
        position: absolute; 
        width: 140px;
        height: 1px;
        background-color: #F00;
        bottom: -1px;
        left: 0;
    }
    &::before{
        content: '';
        position: absolute; 
        width: 30px;
        height: 11px;   
        background: url('~assets/images/triangle-down.png') no-repeat 0 -10px;
        background-size:100%; 
        left: 60px;  
        bottom: -11px;
    }
}

$headerMenuBgc:#006fc3;
  